@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}

:root {
  --background-grey: #f2f2f2;
  --white: #fff;
  --black: #000;
  --link-hover: #81b3d2;
  --link-current-page: #766357;
  --welcome-background: #754c45;
  --container-boxshadow: rgba(0, 1, 1, .2);
  --paragraph-grey: #333;
  --blue: #81b3d2;
  --light-grey: #eee;
  --booking-button-brown: #766357;
  --booking-button-hover: #604e43;
  --booking-button-active: #503e33;
  --white-03: rgba(255, 255, 255, .3);
  --white-09: rgba(255, 255, 255, .9);
  --form-button-hover: #669ec0;
  --form-button-active: #5496bd;
  --logo-active: #bdbbbc;
  --black-03: rgba(0, 0, 0, .3);
  --arrow-grey: #cacaca;
  --hrline: #e5e5e5;
  --rating: #666;
  --rating-background: #f2f2f2;
  --form-input-hover: #ebebeb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@-webkit-keyframes form {
  0% {
    bottom: 0;
    left: 316px;
  }

  100% {
    bottom: -395px;
    left: 316px;
  }
}

@keyframes form {
  0% {
    top: -395px;
    left: 316px;
  }

  100% {
    top: 0;
    left: 316px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation-right .active-page {
  color: var(--booking-button-brown);
}

body {
  font-family: 'PT Sans',
    'Tahoma',
    sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--background-grey);
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 5px 15px var(--container-boxshadow);
}

/* HEADER */
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 56px;
  padding: 17px 72px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-left,
.main-navigation-right {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation-left {
  width: 326px;
}

.main-navigation-right {
  width: 312px;
}

.main-navigation-left a,
.main-navigation-right a {
  font-weight: bold;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
}

.main-navigation-left a {
  text-align: left;
}

.main-navigation-right a {
  text-align: right;
}

.main-navigation-left a:hover,
.main-navigation-right a:hover {
  color: var(--link-hover);
}

.main-navigation-left a:active,
.main-navigation-right a:active {
  opacity: .3;
  color: var(--black);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 531px;
  width: 138px;
  height: 70px;
}

/* HEADER END */
/* WELCOME */
.welcome-block {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 509px;
  background-color: var(--welcome-background);
  background-image: url('../img/background-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.welcome-block::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  content: '';
  background-image: url('../img/background-mask.svg');
  background-repeat: no-repeat;
}

.welcome-block-text {
  width: 456px;
  height: 350px;
}

/* WELCOME END */
/* ADVANTAGES */
.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-areas: 'ap ap ap'
    'a1 f1 f1'
    'l f s'
    'f2 f2 a2'
    'a3 a4 a5';
}

.advantages-pre {
  display: flex;
  flex-direction: column;
  min-height: 216px;
  padding: 42px 200px 37px;
  align-items: center;
  justify-content: space-between;
  grid-area: ap;
}

.advantages-pre-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  width: 470px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-pre-text {
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
  color: var(--paragraph-grey);
}

.advantage-1 {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  align-items: center;
  grid-area: a1;
}

.advantage-1 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 47px;
  margin-bottom: 25px;
  text-align: center;
}

.advantage-1 p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 23px;
  text-align: center;
}

.advantages-foto1 {
  background-image: url('../img/advantage1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: f1;
}

.advantages-living {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  align-items: center;
  grid-area: l;
}

.advantages-living::before {
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  content: '';
  background-image: url('../img/icon-house.svg');
}

.advantages-living h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 160px;
  margin-bottom: 11px;
  text-align: center;
}

.advantages-living p {
  line-height: 1.5;
  text-align: center;
  color: var(--paragraph-grey);
}

.advantages-food {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  align-items: center;
  grid-area: f;
}

.advantages-food::before {
  position: absolute;
  top: 61px;
  left: 162px;
  width: 75px;
  height: 70px;
  content: '';
  background-image: url('../img/icon-burger.svg');
}

.advantages-food h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 160px;
  margin-bottom: 11px;
  text-align: center;
}

.advantages-food p {
  line-height: 1.5;
  text-align: center;
  color: var(--paragraph-grey);
}

.advantages-souvenirs {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  align-items: center;
  grid-area: s;
}

.advantages-souvenirs::before {
  position: absolute;
  top: 55px;
  left: 168px;
  width: 64px;
  height: 77px;
  content: '';
  background-image: url('../img/icon-present.svg');
}

.advantages-souvenirs h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 160px;
  margin-bottom: 11px;
  text-align: center;
}

.advantages-souvenirs p {
  line-height: 1.5;
  text-align: center;
  color: var(--paragraph-grey);
}

.advantages-foto2 {
  min-height: 256px;
  background-image: url('../img/advantage2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: f2;
}

.advantage-2 {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  align-items: center;
  grid-area: a2;
}

.advantage-2 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 50px;
  margin-bottom: 11px;
  text-align: center;
}

.advantage-2 p {
  margin-bottom: 12px;
  text-align: center;
}

.advantage-3 {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--light-grey);
  align-items: center;
  grid-area: a3;
}

.advantage-3 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 47px;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-3 p {
  line-height: 1.5;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
  color: var(--paragraph-grey);
}

.advantage-4 {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--light-grey);
  align-items: center;
  grid-area: a4;
}

.advantage-4 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 47px;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-4 p {
  line-height: 1.5;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
  color: var(--paragraph-grey);
}

.advantage-5 {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--light-grey);
  align-items: center;
  grid-area: a5;
}

.advantage-5 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin-top: 47px;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-5 p {
  line-height: 1.5;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
  color: var(--paragraph-grey);
}

/* ADVANTAGES END */
/* MAIN BOOKING */
.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-header {
  font-size: 30px;
  font-weight: bold;
  line-height: .8;
  margin-top: 55px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.booking-text {
  line-height: 1.71;
  width: 435px;
  margin-bottom: 46px;
  text-align: center;
  text-transform: uppercase;
}

.booking-button {
  font-family: 'PT Sans',
    'Tahoma',
    sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  width: 568px;
  min-height: 86px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  background-color: var(--booking-button-brown);
}

.booking-button:hover {
  background-color: var(--booking-button-hover);
}

.booking-button:active {
  color: var(--white-03);
  background-color: var(--booking-button-active);
}

.booking-form {
  position: absolute;
  top: 0;
  left: 316px;
  display: flex;
  flex-direction: column;
  width: 568px;
  min-height: 395px;
  padding: 55px;
  background-color: var(--white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, .15);
}

.booking-form-hidden {
  display: none;
}

.booking-form-animation {
  -webkit-animation-name: form;
  animation-name: form;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.booking-form input::-webkit-input-placeholder {
  font-weight: bold;
  line-height: 1.86;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form input::-moz-placeholder {
  font-weight: bold;
  line-height: 1.86;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form input:-ms-input-placeholder {
  font-weight: bold;
  line-height: 1.86;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form input::-ms-input-placeholder {
  font-weight: bold;
  line-height: 1.86;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form input,
.booking-form input::placeholder,
.booking-form label {
  font-weight: bold;
  line-height: 1.86;
  text-transform: uppercase;
  color: var(--black);
}

.form-date-in-container,
.form-date-out-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-date-in-container input,
.form-date-out-container input {
  width: 346px;
  height: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  border: none;
  background-color: var(--background-grey);
}

.form-date-in-container {
  margin-bottom: 29px;
}

.form-date-out-container {
  margin-bottom: 30px;
}

.number-of-persons-container {
  display: flex;
  margin-bottom: 54px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number-of-persons-container input {
  width: 114px;
  height: 38px;
  padding-right: 39px;
  padding-left: 39px;
  text-align: center;
  border: none;
  background-color: var(--background-grey);
}

.adults-container {
  display: flex;
  min-width: 226px;
  align-items: center;
  justify-content: space-between;
}

.adults-span,
.children-span {
  position: relative;
}

button.minus-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  cursor: pointer;
}

.minus-icon:hover rect,
.plus-icon:hover path {
  fill: var(--black);
}

.minus-icon:active rect,
.plus-icon:active path {
  fill: var(--blue);
}

button.plus-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.children-container {
  display: flex;
  min-width: 179px;
  align-items: center;
  justify-content: space-between;
}

.date-in-span,
.date-out-span {
  position: relative;
}

.calendar {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.calendar:hover path {
  fill: var(--black);
}

.calendar:active path {
  fill: var(--blue);
}

.booking-form input:hover {
  background-color: var(--form-input-hover);
}

.booking-form input:focus {
  border: 2px solid var(--hrline);
  outline: none;
  background-color: var(--white);
}

.date-in-span input:focus,
.date-out-span input:focus {
  padding-left: 11px;
}

.booking-form button:not([type='submit']) {
  display: flex;
  padding: 5px;
  border: none;
  background-color: inherit;
  align-items: center;
  justify-content: center;
}

.booking-form button:not([type='submit']):not(.calendar) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.booking-form button[type='submit'] {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  width: 458px;
  min-height: 58px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  background-color: var(--link-hover);
}

.booking-form button[type='submit']:hover {
  background-color: var(--form-button-hover);
}

.booking-form button[type='submit']:active {
  color: var(--white-03);
  background-color: var(--form-button-active);
}

/* MAP */
.map {
  position: relative;
  overflow: hidden;
}

.map iframe {
  border: none;
}

/* MAP END */
/* MAIN BOOKING END */
/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 1200px;
  min-height: 120px;
  background-color: var(--white-09);
  justify-content: space-between;
}

.footer-catalog {
  position: static;
  background-color: var(--white);
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 73px;
  align-items: center;
}

.footer-left p {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin: 0;
  text-transform: uppercase;
}

p.footer-left-hashtag {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-left a {
  text-decoration: none;
  color: var(--black);
}

.footer-middle {
  display: flex;
  width: 400px;
  align-items: center;
}

.footer-socials-list {
  display: flex;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.footer-social {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
}

.footer-social:hover {
  background-color: var(--form-button-hover);
}

.footer-social:active {
  background-color: var(--form-button-active);
}

.footer-social:active img {
  opacity: .3;
}

.footer-social a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer-right {
  display: flex;
  width: 400px;
  padding-right: 73px;
  align-items: center;
  justify-content: center;
}

.footer-right p {
  margin-right: 8px;
  text-transform: uppercase;
}

.footer-right a:hover path {
  fill: var(--blue);
}

.footer-right a:active path {
  fill: var(--logo-active);
}

/* FOOTER END */
/* CATALOG */
/* CATALOG FILTER */
.catalog-filter {
  display: flex;
  min-height: 217px;
  padding-right: 60px;
  padding-left: 50px;
  background-color: var(--welcome-background);
  background-image: url('../img/filter-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.catalog-filter fieldset {
  margin-top: 26px;
  border: none;
}

.catalog-filter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter li {
  padding-left: 45px;
}

.catalog-filter legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-transform: uppercase;
  color: var(--white);
}

.catalog-filter label {
  line-height: 1.5;
  padding-left: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.filter-checkboxes {
  display: flex;
}

.filter-checkboxes label {
  position: relative;
  cursor: pointer;
}

.filter-checkboxes label::before {
  position: absolute;
  top: -3px;
  left: -36px;
  width: 23px;
  height: 23px;
  content: '';
  cursor: pointer;
  background-image: url('../img/checkbox-off.svg');
}

.filter-checkboxes input:checked~label::before {
  position: absolute;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 23px;
  content: '';
  background-image: url('../img/checkbox-on.svg');
}

.filter-checkboxes input:focus~label::before {
  outline: 3px solid var(--blue);
}

.catalog-filter-living-set legend,
.catalog-filter-structure-set legend {
  margin-bottom: 20px;
  margin-left: 9px;
}

.catalog-filter-living-set li,
.catalog-filter-structure-set li {
  margin-bottom: 25px;
}

.catalog-filter-structure-set {
  margin-right: 85px;
}

.filter-price {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-price legend {
  margin-bottom: 6px;
}

.filter-range {
  width: 317px;
  margin-bottom: 34px;
}

.filter-range-price {
  position: relative;
  display: flex;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid var(--white);
  border-radius: 2px;
  align-items: center;
}

.filter-range-price::after {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 2px;
  height: 22px;
  content: '';
  background-color: var(--white);
}

.filter-range-price span {
  line-height: 1.5;
  width: 158px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.filter-range-input {
  position: relative;
  width: 316px;
  height: 2px;
  background-color: var(--white-03);
}

.filter-range-input-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: var(--white);
}

.range-circle-left,
.range-circle-right {
  position: absolute;
  top: -7px;
  width: 19px;
  height: 21px;
  cursor: pointer;
}

.range-circle-left {
  left: 0;
}

.range-circle-right {
  right: 45px;
}

.range-circle-left:hover,
.range-circle-right:hover {
  transform: scale(1.2);
}

.filter-price button {
  width: 137px;
  min-height: 36px;
  margin: 0 0 0 85px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: transparent;
}

.filter-price button:hover {
  color: var(--black);
  background-color: var(--white);
}

/* CATALOG FILTER END */
/* CATALOG BOTTOM FILTER */
.catalog-bottom-filter {
  display: flex;
  min-height: 86px;
  padding-right: 65px;
  padding-bottom: 5px;
  padding-left: 73px;
  border-bottom: 1px solid var(--hrline);
  align-items: center;
  flex-wrap: wrap;
}

.catalog-bottom-filter button {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background-color: var(--white);
}

.catalog-bottom-filter-founded {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-right: 46px;
  text-transform: uppercase;
}

.catalog-bottom-filter-filtering {
  font-size: 12px;
  line-height: 1.5;
  margin-right: 33px;
  text-transform: uppercase;
}

.catalog-bottom-filter-params {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.catalog-bottom-filter-params button {
  margin-right: 17px;
  color: var(--black-03);
  border-bottom: 1px dashed var(--blue);
}

.catalog-bottom-filter-params button:hover {
  color: var(--blue);
}

.catalog-bottom-filter-params button:active {
  color: var(--black);
  border: none;
}

.catalog-bottom-filter-params .catalog-bottom-filter-params-active {
  color: var(--blue);
  border: none;
}

.catalog-bottom-filter-updown {
  display: flex;
  margin: 5px 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.catalog-bottom-filter-down-button path,
.catalog-bottom-filter-up-button path {
  fill: var(--arrow-grey);
}

.catalog-bottom-filter-down-button:hover path,
.catalog-bottom-filter-up-button:hover path {
  fill: var(--black);
}

.catalog-bottom-filter-down-button:active path,
.catalog-bottom-filter-up-button:active path {
  fill: var(--blue);
}

.catalog-bottom-filter-updown-active path {
  fill: var(--blue);
}

/* CATALOG BOTTOM FILTER END */
/* HOTELS LIST */
.catalog-hotels {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-hotel {
  display: flex;
  min-height: 151px;
  padding-right: 73px;
  padding-left: 73px;
  border-bottom: 1px solid var(--hrline);
}

.catalog-hotel-image {
  width: 135px;
  height: 90px;
  margin-right: 29px;
  align-self: center;
}

.catalog-hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-top: 23px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.catalog-hotel-type-and-price {
  line-height: 1.5;
  display: flex;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--paragraph-grey);
  justify-content: space-between;
}

.catalog-hotel-type-and-price span:nth-child(2) {
  margin-right: 80px;
  margin-left: 20px;
}

.catalog-hotel-buttons {
  display: flex;
}

.catalog-hotel-about-button,
.catalog-hotel-book-button {
  font-weight: bold;
  display: flex;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  align-items: center;
  justify-content: center;
}

.catalog-hotel-about-button {
  min-width: 110px;
  height: 27px;
  margin-right: 6px;
  background-color: var(--blue);
}

.catalog-hotel-about-button:hover {
  background-color: var(--form-button-hover);
}

.catalog-hotel-about-button:active {
  color: var(--white-03);
  background-color: var(--form-button-active);
}

.catalog-hotel-book-button {
  min-width: 142px;
  height: 27px;
  background-color: var(--link-current-page);
}

.catalog-hotel-book-button:hover {
  background-color: var(--booking-button-hover);
}

.catalog-hotel-book-button:active {
  color: var(--white-03);
  background-color: var(--booking-button-active);
}

.catalog-hotel-rating-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.catalog-hotel-rating-stars {
  display: flex;
  margin-top: 29px;
  justify-content: flex-end;
}

.catalog-hotel-rating-stars img {
  margin-left: 6px;
}

.catalog-hotel-rating {
  line-height: 1.5;
  display: flex;
  width: 110px;
  min-height: 27px;
  margin-top: auto;
  margin-bottom: 33px;
  text-align: center;
  text-transform: uppercase;
  color: var(--rating);
  background-color: var(--rating-background);
  align-items: center;
  justify-content: center;
}

/* HOTELS LIST END */
/* CATALOG  END */
